<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests">
  <test thread-count="2" name="Test" parallel="tests">
    <classes>
      <class name="com.masti.apiautomation.API_Automation.TestRestApi"/>
      <class name="com.masti.apiautomation.API_Automation.getResponseCode"/>
      <class name="com.masti.apiautomation.API_Automation.pegaautoapi"/>
      <class name="com.masti.apiautomation.API_Automation.Post_Delete_Post"/>
      <class name="com.masti.apiautomation.API_Automation.EmployeesList"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
